<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713054117733-7qtetl1j6khuojcaqd40tkclf74el31e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713054117733-7qtetl1j6khuojcaqd40tkclf74el31e</string>
	<key>API_KEY</key>
	<string>AIzaSyCbMeUdj2ypgG3CXOGfsabxe07QkeiHnfI</string>
	<key>GCM_SENDER_ID</key>
	<string>713054117733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>feat-fyp-e900c</string>
	<key>STORAGE_BUCKET</key>
	<string>feat-fyp-e900c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713054117733:ios:dcf48d617fbb5843464b8c</string>
</dict>
</plist>